/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


/* En-tête */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

/* Table de gestion des utilisateurs */
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e9ecef;
}

/* Section générale */
#productSection, #orderSection, #orderManagement {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Bouton action */
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Formulaire et champs de saisie */
select, input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

select:focus, input:focus {
    border-color: #007bff;
    outline: none;
}

.user-btn {
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    width: auto;
    max-width: none;
}

.user-btn:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.user-btn:focus {
    outline: none;
    border-color: #218838;
}

.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.delete-btn {
    background-color: #dc3545;
}